<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/login/home">KConsult</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company_index' %}">Company Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          {% endif %}
        </li>
      </ul>
      <form class="d-flex" method="GET" action="{% url 'search_firme' %}">
        <input class="form-control me-2" type="search" placeholder="Search Firms" aria-label="Search" name="searched">
        <button class="btn btn-custom" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
